<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Image Recognition</title>
  
  
  
      <link rel="stylesheet" href="{{ url_for('static',filename='style_image.css') }}">

</head>

<body>
 
		<h1>Image Recognition</h1>
		<canvas id="canvas" width="280" height="280" style="border:8px solid; float: left; margin: 60px; margin-top:160px; margin-left: 625px; border-radius: 5px; cursor: crosshair;"></canvas>
		<div id="debug" style="margin:65px; margin-top:100px; margin-left: 620px;">

			<!-- <input type="color" id="colors">
			 <input type="number" id="lineWidth" style="width:60px" value="0.2" step="0.1" min="0.1"> -->
			
			<span style="color: #00bfff; font-weight: 400; font-size:20px; font-family: 'Open Sans', Helvetica;	">Draw the Image inside this Box!</span>
		</div>

		<div style="margin-left:680px; margin-top:475px; float:left; position:absolute;">
			<a href="{{ url_for('home') }}" id="home" class="myButton home"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Home </span></a>
			<input type="button" id="clearButton" class="myButton" value="Clear" style=" font-weight: 400; font-family: 'Open Sans', Helvetica; ">
			<a href="#" class="myButton" id="abc" ><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Predict </span></a>			
		</div>
		<div >
			<h1 id="result" style="margin-right:20px; margin-top:500px;float:left;"><span> </span></h1>
		</div>

		
  		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	    <script src="{{ url_for('static',filename='index_image.js') }}"></script>
	    <script type="text/javascript">
	   
	   		$("#abc").click(function(){
	   			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL();
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/predict-image/",
	   				data: img,
	   				success: function(data){
						console.log("data= "+ data);						  
						var index = data.match(/\d{1,2}/);
	   					console.log("index= "+ index);
	   					arr = ['apple','bat','cloud','crown','face','flower', 'hand', 'house','icecream','moon','star','sun','tree','tshirt','umbrella'];	   					
	   					$('#result').text(' I think you tried to draw ' + arr[index]);
	   					
	   				}
	   			});
			   });
			   

			   $(".home").click(function(){
	   			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	   		
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/home/",	   				
	   				success: function(data){
	   				}
	   			});
	   		}); 
	   
	   </script>
</body>
</html>
