<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Alphabet Recognition</title>
  <title>@rcooper // github @coopss </title>
	<link rel="stylesheet" href="{{url_for('static', filename='style_alphabet.css')}}">
</head>

<body>
		<h1>Alphabet Recognition</h1>
		<canvas id="canvas" width="280" height="280" style="border:8px solid; float: left; margin: 60px; margin-top:160px; margin-left: 625px; border-radius: 5px; cursor: crosshair;"></canvas>
		<div id="debug" style="margin:65px; margin-top:100px; margin-left: 620px;">					
			<span style="color: #00bfff; font-weight: 400; font-size:20px; font-family: 'Open Sans', Helvetica;	">Draw the Alphabet inside this Box!</span>
		</div>

		<div style="margin-left:675px; margin-top:475px; float:left; position:absolute;">
			<a href="{{ url_for('home') }}" id="home" class="myButton home"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Home </span></a>
			<input type="button" id="clear_button" class="myButton" value="Clear" style=" font-weight: 400; font-family: 'Open Sans', Helvetica; ">
			<a href="#" class="myButton" id="abc" ><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Predict </span></a>			
		</div>
		<div class="centered">
			<h1 id="result" style="margin-right:20px; margin-top:500px;float:left;"><span> </span></h1>
		</div>

  		<script src="{{url_for('static',filename='jquery-3.2.0.min.js')}}"></script>
	    <script src="{{url_for('static',filename='index_alphabet.js')}}"></script>
	    <script type="text/javascript">
	   		$("#abc").click(function(){
				var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL('image/png');
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/predict-alpha/",
	   				data: img,
	   				success: function(data){
	   					$('#result').text('I think you wrote ' + data.prediction);
                    }
	   			});
			   });

			   $(".home").click(function(){
	   			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	   		
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/home/",	   				
	   				success: function(data){
	   				}
	   			});
	   		});   
	   </script>
</body>
</html>
